<main>
  <%# Posts Section %>
  <section>
    <div class="btn-container">
     <% if current_user %>
        <%= link_to "Create a post",new_user_post_path(@user), class: "btn" %>
      <% end %>
    </div>

    <ul>
      <% if any_posts? %>
        <% @posts.each do |post| %>
          <%= link_to user_post_path(user_id: post.author_id, id: post.id) do %>
            <li class="post-box">
              <div class="content-box"> 
                <h2 class="title"><%= post.title%></h2>
                <h4 class="text"><%= post.text%></h4>
                <div class="flex counters">
                  <p>Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %></p>
                </div>
              </div>
              <%# Comments Section %>
              <div class="content-box">
                <h2>Comments:</h2>
                <ul>
                  <li>
                    <% post.last_comments.each do |comment| %>
                      <p class="text"> <%= comment.author.name %>: <%= comment.text %> </p>
                    <% end %>
                  </li>
                <ul>
              </div>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <p>There are no posts to display.</p>
      <% end %>
    </ul>
    <div class="pagination-container">
      <%= will_paginate @posts, inner_window: 1, outer_window: 0, previous_label: 'Pagination', next_label: 'Pagination' %>
    </div>
  </section> 
</main>
